# String que define o ambiente. Use 'development' no seu PC, 'production' no servidor.NODE_ENV=developmentURL pública do seu servidor (HTTPS OBRIGATÓRIO)Em desenvolvimento, use o ngrok (https://...)NGROK_URL=https://weightiest-ironically-marta.ngrok-free.devEm produção, use a URL do seu servidor (ex: https://www.google.com/search?q=https://api-escola.onrender.com)PROD_URL=https://www.google.com/search?q=https://sua-api-na-nuvem.com--- MERCADO PAGO ---(Cole seu token de TESTE aqui)MP_ACCESS_TOKEN_TEST=TEST-7872504055031369-110514-3577ba6453778d8cfa58c6ec70aa32f4-613076272(Cole seu token de PRODUÇÃO aqui - O QUE VOCÊ NÃO ENVIOU)MP_ACCESS_TOKEN_PROD=APP_USR-SEU-TOKEN-DE-PRODUCAO-AQUI... (O resto das suas chaves: DB_URL, JWT_SECRET, etc.)